
.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}

.account-dropdown__avatar {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    border-radius: 3px;
}
.account-dropdown .dropdown__trigger {
    line-height: 20px;
}
.account-dropdown .dropdown__trigger:after {
    content: '\25BE';
    margin: 0 0 0 10px;
}
.account-dropdown__avatar,
.account-dropdown__name {
    vertical-align: middle;
}
.account-dropdown .dropdown__content {
    margin-top: 5px;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    background: #ffffff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    border: 1px solid black;
}
.account-dropdown__quick-links,
.account-dropdown__management-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.account-dropdown__segment {
    padding: 10px 15px;
    border-bottom: #e1e1e1 1px solid;
}
.account-dropdown__link {
    margin: 5px 0;
}

.notification {
    padding: 7px;
}

.notificationFooter {
    padding: 0px;
    background: #D8D8D8;
    border-bottom: 1px solid gray;
}

.notificationAction {
    font-family: 'Arial';
    font-size: 10px;
    padding: 0 5px 0 10px;
}